@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;  
}

:root {
    --cor00: #ffffff;
    --cor01: #1E90F0;
    --cor02: #66B3F2;
    --cor03: #1772BD;
    --cor04: #0D4470;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
   
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor02);
    font-family: var(--font-padrao);
}

header {
    background-color: var(--cor04);
}

header > h1 {
    color: var(--cor00);
    font-family: var(--font-padrao);
}

header > p {
    color: white;
}

nav {
    background-color: var(--cor04);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
}

main h1 {
    color: var(--cor03);
    font-family: var(--font-padrao);
}

main h2 {
    font-family: var(--font-padrao);
}

main img {
    width: 100%;
}


footer {
    background-color: var(--cor04);
    color: white;
}