@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

#conteiner {
    width: 100vw; /* vw = view width, ou seja, ocupa 100% da tela*/
    height: 100vh; /* vh = view height, ou seja, ocupa 100% da tela*/
    background-image: url(imagens/exercicios.jpg);
    background-size: cover;
}

.botao {
    display: flex;
}